#MainWindow
{
border-image:url(:/pic/bac1.png);
}
#connectServer
{
background-color:#87CEFA;
color:#000000;
font:10pt;
}
#sendFile
{
background-color:#87CEFA;
color:#000000;
font:10pt;
}
#selFile
{
background-color:#87CEFA;
color:#000000;
font:10pt;
}
#label
{
color:#000000;
font:14pt;
}
#label_2
{
color:#000000;
font:14pt;
}

